@import "yeticss"

body {
  background-color: coral;
  animation: background 50s 1s infinite alternate;

  legend {
    color: white;
  }

  .form-input {
    background: transparent;
    box-shadow: 0 none;
    border: 0 none;
    border-bottom: 2px solid white;
    color: white;
    border-radius: 0;
    transition: all .3s easy-in-out;
    font-size: 52px;

    &:focus,
    &:active {
      box-shadow: none;
      border: 0 none;
      border-bottom: 2px solid white;
    }
  }
}


h1,h2,h3,h4,h5,h6 {
  color: white;
}


.weather-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .temperature {
    margin-top: 10px;
  }

  h1 {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 72px;

    &:after {
      content: '\2103';
      font-weight: 100;
      display: inline-block;
    }
  }
  h5 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 20px;
  }
}


@keyframes background {
  0%,5% {
    background-color: coral;
  }

  20%,25% {
    background-color: mediumturquoise;
  }

  50%,55% {
    background-color: cornflowerblue;
  }

  95%,100% {
    background-color: PaleVioletRed ;
  }
}
