@import "yeticss"

body {
  fieldset {
    border-color: white;
  }

  legend {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
  }

  .form-input {
    background: transparent;
    box-shadow: 0 none;
    border: 0 none;
    border-bottom: 2px solid transparent;
    color: white;
    border-radius: 0;
    font-size: 42px;

    &:focus,
    &:active {
      box-shadow: none;
      border: 0 none;
      border-bottom: 2px solid white;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  color: white;
}

.weather-container {
  transition: background .4s ease-in-out;

  .weather-body {
    text-align: center;
    height: 100vh;
    width: 330px;
    margin: 0 auto;
    padding: 10% 0;

    .temperature {
      margin-top: 10px;
    }

    h1 {
      margin-bottom: 0;
      font-weight: 900;
      font-size: 72px;

      &:after {
        content: '\2103';
        font-weight: 100;
        display: inline-block;
      }
    }
    h5 {
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 0.05em;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
